global
    log stdout format raw local0
    maxconn 10000

defaults
    log global
    mode http
    option httplog
    option dontlognull

    timeout connect 10s
    timeout client 3600s
    timeout server 3600s
    timeout tunnel 3600s
    timeout http-request 10s
    timeout http-keep-alive 300s

frontend http_in
    bind :8080
    mode http

    option http-server-close

    acl is_health path /health
    http-request return status 200 content-type "text/plain" string "OK" if is_health

    # gRPC
    use_backend trojan_grpc if { path_beg /cxlvintr-grpc }
    use_backend vmess_grpc if { path_beg /cxlvinvm-grpc }
    use_backend vless_grpc if { path_beg /cxlvinvl-grpc }
    use_backend ss_grpc if { path_beg /cxlvinss-grpc }

    # XHTTP
    use_backend trojan_xh if { path_beg /CxlvinTRXH }
    use_backend vless_xh if { path_beg /CxlvinVlXH }
    use_backend ss_xh if { path_beg /CxlvinSSXH }
    use_backend vmess_xh if { path_beg /CxlvinVMXH }

    # HTTPUpgrade
    use_backend trojan_hu if { path_beg /CxlvinTRHU }
    use_backend vless_hu if { path_beg /CxlvinVlHU }
    use_backend ss_hu if { path_beg /CxlvinSSHU }
    use_backend vmess_hu if { path_beg /CxlvinVMHU }

    # WebSocket
    use_backend trojan_ws if { path_beg /CxlvinTRWS }
    use_backend vless_ws if { path_beg /CxlvinVlWS }
    use_backend ss_ws if { path_beg /CxlvinSSWS }
    use_backend vmess_ws if { path_beg /CxlvinVMWS }

    default_backend web_root


backend trojan_grpc
    mode http
    server s1 127.0.0.1:12001 proto h2

backend vmess_grpc
    mode http
    server s1 127.0.0.1:12002 proto h2

backend vless_grpc
    mode http
    server s1 127.0.0.1:12003 proto h2

backend ss_grpc
    mode http
    server s1 127.0.0.1:12004 proto h2


backend trojan_xh
    mode http
    server s1 127.0.0.1:10010

backend vless_xh
    mode http
    server s1 127.0.0.1:10009

backend ss_xh
    mode http
    server s1 127.0.0.1:10012

backend vmess_xh
    mode http
    server s1 127.0.0.1:10011


backend trojan_hu
    mode tcp
    timeout tunnel 3600s
    server s1 127.0.0.1:11001

backend vless_hu
    mode tcp
    timeout tunnel 3600s
    server s1 127.0.0.1:11002

backend ss_hu
    mode tcp
    timeout tunnel 3600s
    server s1 127.0.0.1:11003

backend vmess_hu
    mode tcp
    timeout tunnel 3600s
    server s1 127.0.0.1:11004


backend trojan_ws
    mode http
    timeout tunnel 3600s
    server s1 127.0.0.1:10001

backend vless_ws
    mode http
    timeout tunnel 3600s
    server s1 127.0.0.1:10002

backend ss_ws
    mode http
    timeout tunnel 3600s
    server s1 127.0.0.1:10003

backend vmess_ws
    mode http
    timeout tunnel 3600s
    server s1 127.0.0.1:10004


backend web_root
    mode http
    server s1 127.0.0.1:80
